.herofeatures {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #505EAE 22.7%, #191D37 100%);
    font-family: Poppins;
    text-align: center;
    color: white;
    width: 100%;
    min-height: 100vh;

    h2 {
        font-size: 48px;
        margin: 80px 0px;
    }

    .features-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        width: 90%;
        text-align: start;
        margin: 20px;
        gap: 60px;

        .features-temp {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            background: #353E74;
            padding: 70px 30px;
            width: 380px;
            border-radius: 30px;
            height: 450px;

            h2 {
                font-size: 28px;
                font-weight: 600;
                margin: 0;
            }

            p {
                width: 300px;
            }
        }
    }
}