@import '../../../style.scss';

.dash-courses {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 30px;
    width: 100%;
    margin-bottom: 20px;

    @include mobile {
        justify-content: center !important; 
    }

    @include tablet {
        gap: 10px;
    }

    .dash-cors-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0px 6px 7px 4px rgba(0,0,0, 5%);

        @include tablet {
            padding: 10px;
        }

        .dash-image {

            .image {
                width: 280px;

                @include mobile {
                    width: 300px !important;
                }

                @include tablet {
                    width: 235px;
                }
            }
        }

        .dash-details {
            text-align: start;
            margin: 8px 0px;

            p {
                color: #cea205;
            }

            h2 {
                font-size: 18px;
                font-weight: 500;
                width: 280px;

                @include tablet {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .dash-mojis {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 50px;

            .dash-left {
                display: flex;
                gap: 10px;

                .moji {
                    display: flex;
                    align-items: center;
                }
            }

            .right {

                button {
                    padding: 6px 15px;
                    background: #1A2850;
                    color: white;
                    border-radius: 20px;
                }
            }
        }
    }
}