
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;

    .navbar-name {

        .image {
            width: 300px;
        }
    }

    .navbar-left {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: space-around;

        .navlinks {
            display: flex;
            gap: 15px;
            font-size: 20px;
        }

        .navbar-btn {

            button {
                background: #4c4cfc;
                color: white;
                padding: 20px 40px;
                border-radius: 30px;
                font-weight: 500;
                transition: 0.4s;

                &:hover {
                    background: rgb(19, 19, 122);
                }
            }
        }
    }
}