@import '../style.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
     

    .navbar-name {

        .image {
            width: 300px;
        }
    }

    .navbar-left {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: space-around;

        .navlinks {
            display: flex;
            gap: 15px;
            font-size: 20px;
        }

        .navbar-btn {

            button {
                background: #7082F5;
                border: 3px solid #4454C1;
                color: white;
                padding: 20px 40px;
                border-radius: 30px;
                font-weight: 500;
                transition: 0.4s;

                @include tablet {
                    font-size: 14px;
                    padding: 15px 15px;
                    margin-left: 20px;
                    width: 100%;
                }

                &:hover {
                    background: rgb(19, 19, 122);
                }
            }
        }
    }
}

@include mobile {
    .navbar {

        .navbar-name {

            .image {
                width: 100px;
            }
        }

        .navbar-left {

            .navlinks {
                display: none;
            }

            .navbar-btn {

                button {
                    font-size: 12px;
                    padding: 2px 8px;
                }
            }
        }
    }
}