.herotemp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom, #505EAE 22.7%, #191D37 100%);
    color: white;
    

    .herotemp-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 40px;

        .temp-text {
            width: 40%;

            h2 {
                font-size: 58px;
            }

            p {
                margin: 10px 0px;
                font-size: 18px;
            }

            .mobile-apps {
                display: flex;
                gap: 20px;
                margin: 20px 0px;

                .image {
                    width: 150px;
                }
            }
        }
    }
}