.signin {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    height: 100vh;
    background: url('../assets/background.png');
    background-position: top;
    background-size: cover;

    .signin-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;

        .signin-hero {

            .image {
                width: 400px;
            }
        }

        .sign-right {
            width: 30%;
            
            h2 {
                font-size: 48px;
            }

            p {
                font-size: 18px;
                color: rgb(100, 98, 98);
            }

            form {
                display: flex;
                flex-direction: column;

                input {
                    margin-top: 20px;
                    padding: 15px 10px;
                    width: 100%;
                    background: whitesmoke;
                    border-radius: 20px;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    background: rgb(74, 74, 236);
                    margin-top: 20px;
                    border-radius: 30px;
                    color: white;
                    padding: 15px 10px;
                }
            }

            .linkin {
                margin-top: 10px;
            }
        }
    }
}