@import '../../style.scss';

.herofooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    padding-top: 130px;
    background: linear-gradient(to bottom, #505EAE 22.7%, #191D37 100%);

    .herofooter-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;

        .footer-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: start;
            width: 80%;

            @include mobile {
                flex-direction: column;
            }

            .top-left {
                margin-top: -200px;

                @include mobile {
                    margin-top: 0;
                }

                h2 {
                    font-size: 48px;
                    font-weight: 600;

                    @include mobile {
                        font-size: 38px;
                        margin-bottom: 20px;
                        font-weight: 600;
                    }
                }
            }

            .top-right {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                text-align: start;
                gap: 10px;
                row-gap: 40px;
                width: 60%;

                @include mobile {
                    width: 100%;
                    justify-content: center;
                }

                .right-content {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        font-size: 28px;
                        width: 600px;

                        @include tablet {
                            width: 500px;
                        }

                        @include mobile {
                            width: 100%;
                            font-size: 18px;
                        }
                    }
    
                    p {
                        color: rgb(182, 182, 182);
                        padding: 10px 0px;
                    }
                }

                button {
                    background: #4F588B7A;
                    padding: 6px;
                    border-radius: 50%;

                    .image {
                        width: 25px;
                        height: 25px;
                        object-fit: contain;

                        @include mobile {
                            width: 20px;
                            height: 20px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }

        hr {
            background: #6258f5;
            border: none;
            height: 2px;
            margin: 10px;
        }

        .bottom-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 300px;

            @include mobile {
                padding-top: 100px;
            }

            hr {
                height: 2px;
                border: none;
                background: #8982f5;
                width: 100%;
            }

            .bottom-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 80%;
                margin: 60px 0px;

                @include mobile {
                    margin: 20px 0px;
                }
            }

            .bottom-social {

                .image {
                    width: 180px;
                }
            }
        }
    }
}