.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .dashboard-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 95%;

        .search-wrapper {
            display: flex;
            align-items: start;
            justify-content: start;
            width: 100%;

            .dash-search {
                display: flex;
                background: #d3d2d2;
                padding: 15px 15px;
                border-radius: 30px;
    
                .search-icon {
                    width: 40px;
                    object-fit: contain;
                }
    
                input {
                    background: #d3d2d2;
                    color: black;
                    padding: 0px 35px;
    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .dash-rec {
            display: flex;
            align-items: center;
            margin: 30px 0px;
            justify-content: space-between;
            width: 100%;
            color: #747474;
        }

        .preview-container {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: start;
            width: 100%;
            gap: 20px;
        }

        .dash-previews {
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;

            .dash-video {
                position: relative;

                .image {
                    width: 280px;
                }
            }

            .preview-title {
                position: absolute;
                top: 0;
                padding: 10px;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;

                .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 10px;

                    .play {
                        width: 18px;
                        border-radius: 20px;
                        background: #747474;
                        padding: 4px;
                    }

                    p {
                        color: #747474;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}