@import '../../style.scss';

.herocart {
    background: linear-gradient(to top, #505EAE 22.7%, #191D37 100%);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .cartlist {

        @include tablet {
            .cart {
                gap: 14px !important;
            }
        }
    }

    @include mobile {
        
        .cartlist {
            font-size: 12px;
            flex-direction: column;
        }
    }
}